.tabela-container {
    padding: 20px;
  }
  
  .portugues,
  .ingles,
  .espanhol {
    padding-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .tabela-container {
      padding-right: 0;
      padding-left: 0;
    }
  
    .portugues,
    .ingles,
    .espanhol {
      padding-bottom: 0;
    }
  }
  